In [1]:
import duckdb

In [2]:
# create a connection to the database
con = duckdb.connect('/workspaces/practice/terminology.db')

In [3]:
con.execute('create schema if not exists RXNORM')

In [4]:
con.execute('select * from RXNORM.RXATOMARCHIVE limit 5').fetchdf()

,RXAUI,AUI,STR,ARCHIVE_TIMESTAMP,CREATED_TIMESTAMP,UPDATED_TIMESTAMP,CODE,IS_BRAND,LAT,LAST_RELEASED,SAUI,VSAB,RXCUI,SAB,TTY,MERGED_TO_RXCUI
0,947,A10335796,Mesna,2020-04-27,03/10/2005 02:03:47 PM,04/27/2020 09:04:10 PM,44,NaN,ENG,06-APR-20,NaN,RXNORM_19AB_200406F,44,RXNORM,IN,44
1,1424,A10334758,beta-Alanine,2020-04-27,03/10/2005 02:03:47 PM,04/27/2020 09:04:16 PM,61,NaN,ENG,06-APR-20,NaN,RXNORM_19AB_200406F,61,RXNORM,IN,61
2,1684,A10334529,4-Aminobenzoic Acid,2020-04-27,03/10/2005 02:03:47 PM,04/27/2020 09:04:14 PM,74,NaN,ENG,06-APR-20,NaN,RXNORM_19AB_200406F,74,RXNORM,IN,74
3,2192,A16791816,Eicosapentaenoic Acid,2020-04-27,03/10/2005 02:03:47 PM,04/27/2020 09:04:18 PM,90,NaN,ENG,06-APR-20,NaN,RXNORM_19AB_200406F,90,RXNORM,PIN,90
4,2265,A10334531,5-Hydroxytryptophan,2020-04-27,03/10/2005 02:03:47 PM,11/06/2020 06:11:15 AM,94,NaN,ENG,06-APR-20,NaN,RXNORM_19AB_200406F,94,RXNORM,IN,94

In [5]:
con.execute('select * from RXNORM.RXNCONSO limit 5').fetchdf()

,RXCUI,LAT,TS,LUI,STT,SUI,ISPREF,RXAUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,3,ENG,NaN,NaN,NaN,NaN,NaN,8717795,NaN,58488005,NaN,SNOMEDCT_US,PT,58488005,"1,4-alpha-Glucan branching enzyme",NaN,N,NaN
1,3,ENG,NaN,NaN,NaN,NaN,NaN,8717796,NaN,58488005,NaN,SNOMEDCT_US,FN,58488005,"1,4-alpha-Glucan branching enzyme (substance)",NaN,N,NaN
2,3,ENG,NaN,NaN,NaN,NaN,NaN,8717808,NaN,58488005,NaN,SNOMEDCT_US,SY,58488005,"Amylo-(1,4,6)-transglycosylase",NaN,N,NaN
3,3,ENG,NaN,NaN,NaN,NaN,NaN,8718164,NaN,58488005,NaN,SNOMEDCT_US,SY,58488005,Branching enzyme,NaN,N,NaN
4,19,ENG,NaN,NaN,NaN,NaN,NaN,10794494,NaN,112116001,NaN,SNOMEDCT_US,SY,112116001,17-hydrocorticosteroid,NaN,N,NaN

In [6]:
con.execute('select * from RXNORM.RXNREL limit 5').fetchdf()

,RXCUI1,RXAUI1,STYPE1,REL,RXCUI2,RXAUI2,STYPE2,RELA,RUI,SRUI,SAB,SL,RG,DIR,SUPPRESS,CVF
0,,5,SDUI,RN,,609702,SDUI,mapped_to,154691227,,MSH,,1,,,
1,,5,AUI,SY,,2666961,AUI,sort_version_of,155371534,,MSH,,,,,
2,,5,AUI,SY,,2681015,AUI,entry_version_of,155054914,,MSH,,,,,
3,,6,AUI,SY,,5,AUI,has_permuted_term,154688723,,MSH,,,,,
4,,8,AUI,SY,,8199098,AUI,has_permuted_term,155465282,,MSH,,,,,

In [7]:
con.execute('select * from RXNORM.RXNSAB limit 5').fetchdf()

,VCUI,RCUI,VSAB,RSAB,SON,SF,SVER,VSTART,VEND,IMETA,...,CFR,CXTY,TTYL,ATNL,LAT,CENC,CURVER,SABIN,SSN,SCIT
0,C5233827,C1140218,MMSL_2022_11_01,MMSL,Multum MediSource Lexicon,MMSL,2022_11_01,NaN,NaN,2020AA,...,NaN,NaN,"GN,MTH_RXN_BD,CD,IN,MS,SC,BD,BN","DCSA,DDF,DDFA,DHJC,DPC,DRT,DRTA,DST,NDC,TYPE",ENG,UTF-8,Y,Y,Multum,";;;;Medisource Lexicon;;;November 01, 2022;Den..."
1,C5233830,C1140182,MMX_2022_11_07,MMX,Micromedex RED BOOK,MMX,2022_11_07,NaN,NaN,2020AA,...,NaN,NaN,"MTH_RXN_CD,BD,CD,MTH_RXN_BD","DCSA,DDF,DESI_DESC,DRT,DST,LABELER,MMX_RXO,NDC...",ENG,UTF-8,Y,Y,Micromedex,";;;;Micromedex RED BOOK;;;November 07, 2022;;;..."
2,C5226069,C1135584,MSH2023_2022_07_27,MSH,"Medical Subject Headings, 2022_2021_07_20",MSH,2023_2022_07_27,NaN,NaN,2020AA,...,NaN,FULL-MULTIPLE,"ET,PM,CE,NM,MH,DSV,N1,PEP,DEV,PCE","AN,AQL,DC,DX,EC,FR,FX,HM,HN,II,LT,MDA,MMR,MN,O...",ENG,UTF-8,Y,Y,MeSH,;;;;Medical Subject Headings (MeSH);;;2021;;U....
3,C5233828,C1140261,NDDF_2022_11_09,NDDF,FDB MedKnowledge (formerly NDDF Plus),NDDF,2022_11_09,NaN,NaN,2020AA,...,NaN,NaN,"CDC,IN,CDA,CDD,MTH_RXN_CDC,DF",NDC,ENG,UTF-8,Y,Y,FDB MedKnowledge,;;;;FDB MedKnowledge (formerly NDDF Plus);;;No...
4,C5233835,C1140284,RXNORM_20AA_221205F,RXNORM,RxNorm Vocabulary,RXNORM,20AA_221205F,NaN,NaN,2020AA,...,NaN,NaN,"SCDF,DFG,PIN,TMSY,SBD,BN,MIN,PSN,SBDC,SBDG,SCD...","AMBIGUITY_FLAG,NDC,ORIG_CODE,ORIG_SOURCE,RXN_A...",ENG,UTF-8,Y,Y,RxNorm work done by the National Library of Me...,;;;;RxNorm;;;META2020AA Full Update 2022_12_05...

In [8]:
con.execute('select * from RXNORM.RXNSAT limit 5').fetchdf()

,RXCUI,LUI,SUI,RXAUI,STYPE,CODE,ATUI,SATUI,ATN,SAB,ATV,SUPPRESS,CVF
0,38,,,8056626,AUI,D001971,AT212333259,,TERMUI,MSH,T005606,N,
1,38,,,8056626,AUI,D001971,AT212365433,,LT,MSH,TRD,N,
2,38,,,8056626,AUI,D001971,AT212543507,,TH,MSH,UNK (19XX),N,
3,38,,,8056626,SCUI,D001971,AT60770509,,RN,MSH,0,N,
4,44,,,946,AUI,D015080,AT17509891,,TH,MSH,USAN (1990),N,

In [9]:
con.execute('select * from RXNORM.RXNSTY limit 5').fetchdf()

  RXCUI   TUI           STN                              STY ATUI  CVF
0     3  T126  A1.4.1.1.3.3                           Enzyme  NaN  NaN
1     3  T116  A1.4.1.2.1.7  Amino Acid, Peptide, or Protein  NaN  NaN
2    19  T125  A1.4.1.1.3.2                          Hormone  NaN  NaN
3    19  T109    A1.4.1.2.1                 Organic Chemical  NaN  NaN
4    21  T125  A1.4.1.1.3.2                          Hormone  NaN  NaN

In [10]:
con.execute('select * from RXNORM.RXNDOC limit 5').fetchdf()

,DOCKEY,VALUE,TYPE,EXPL
0,ATN,AAL_TERM,expanded_form,AAL term
1,ATN,ACCEPTABILITYID,expanded_form,Acceptability Id
2,ATN,ACCEPTED_THERAPEUTIC_USE_FOR,expanded_form,Accepted therapeutic use for
3,ATN,ACTIVE,expanded_form,Active
4,ATN,ADDED_MEANING,expanded_form,Additional descriptive information

In [11]:
con.execute('select * from RXNORM.RXNCUICHANGES limit 5').fetchdf()

,RXAUI,CODE,SAB,TTY,STR,OLD_RXCUI,NEW_RXCUI
0,57212,103086009,SNOMEDCT_US,PT,Cancer antigen 19-9,1869,2619423
1,57219,103086009,SNOMEDCT_US,SY,Carbohydrate antigen 19.9,1869,2619423
2,57220,103086009,SNOMEDCT_US,SY,CA 19.9 - Carbohydrate antigen 19.9,1869,2619423
3,57221,103086009,SNOMEDCT_US,FN,Cancer antigen 19-9 (substance),1869,2619423
4,163909,4017983,VANDF,IN,HEPATITIS B SURFACE ANTIGEN,1615760,797752

In [12]:
con.execute('select * from RXNORM.RXNCUI limit 5').fetchdf()

    cui1            ver_start              ver_end cardinality     cui2
0  89904  RXNORM_17AA_170905F  RXNORM_20AA_221003F           1    89904
1  91669  RXNORM_17AA_170905F  RXNORM_18AB_181203F           1    91669
2  91714  RXNORM_10AA_100802F  RXNORM_10AA_100802F           1  1000992
3  91811  RXNORM_04AC_050210F  RXNORM_09AA_090706F           1   857082
4  91812  RXNORM_04AC_050210F  RXNORM_09AA_090706F           1   857087

In [13]:
con.close()